dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, legend, li, p, pre, select, span, textarea, ul{
  padding:0;
  margin:0;
  list-style: none;
  vertical-align: top;
  outline: 0;
}

.area_select{
  position: relative;
  cursor: pointer;
  .area_choose{
    position: absolute;
    bottom:100%;
    left: 0;
    width: 33.125rem;
    background:#fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-flow: column  nowrap;
    justify-content: flex-start;
    align-items: center;
    .area_search{
      width: 29.375rem;
      padding: 1.8125rem 0 1.1875rem 0;
      input{
        outline-width:0;
        width:20rem;
        //width: 95%;
        height: 2.25rem;
        border:0;
      }
      .search_icon{
         background: url(/images/search.png) no-repeat 94% center;
         width: 19px;
         height: 19px;
         position: absolute;
         top:50%;
         right: 0.625rem;
         margin-top:-9.5px;
         cursor:pointer;
      }
    }
  }
  //input[type="text"]{
  //
  //}
}
#areaInputBg {
	transition: all 300ms ease-in-out;
	position: absolute;
	right: 3%;
	top: 12px;
	height:12px;
	width: 18px;
	transform: rotate(0deg);
}
#areaInputBg.up{

	transform: rotate(180deg);
}
#areaSelectNoresult{
  height: 45px;
  text-align: center;
}
#area_search_ctn{
  position:relative;
  border:1px solid #d5dbe3;
  border-radius:15px;
  padding-left:1rem;
  width: 23.75rem;
}
.area_select_shadowCover{
  width: 29.375rem;
  padding-right:1.25rem;
  border: 1px solid #d5dbe3;
  align-self: center;
}
.area_select_buttons{
  width: 100%;
  display: flex;
  flex-flow:row nowrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  cursor: pointer;
}
.area_select_buttons > span{
  height: 28px;
  width: 78px;
  border-width: 0;
  border-radius: 2px;
  text-align: center;
  line-height: 28px;
}
.area_select_buttons > span:nth-child(1){
  background-color: #379cf8;
  color: #ffffff;
  transition: 0.2s;
  &:hover{
    background-color: #82bdf7;
  }
  &:active{
    background-color: #2f84d4;
  }
}
.area_select_buttons > span:nth-child(2){
  margin-left: 0.625rem;
  background-color: #ced4df;
  color: #6f7479;
  transition: 0.2s;
  &:hover{
    background-color: #d7dde8;
  }
  &:active{
    background-color: #abb1bc;
  }
}
.cd-accordion-menu {
  width: 100%;
  height: 400px;
  overflow: auto;
  margin-top:10px;
}

.cd-accordion-menu li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cd-accordion-menu li.has-children li{ 
  margin:0 16px 10px 30px;
  display: block;
}

li.leftActive{
  background-color: #dee6f0;
}

.cd-accordion-menu input[type=checkbox] {
  position: absolute;
  opacity: 0;
  width: 0;
  display:none;
}
.cd-accordion-menu label{
  position: relative;
  color: #6f7479;
  font-size:14px;
  margin-bottom:0;
  font-weight: normal;
  display: inline-block;
  line-height: 32px;
}
.no-touch .cd-accordion-menu label:hover, .no-touch .cd-accordion-menu a:hover {
  background: #52565d;
}
.cd-accordion-menu .spread {
  /* icons */
  display: inline-block;
  width: 12px;
  height: 12px;
  position: relative;
  top:8px;
  margin:0 5px 0 16px;
  background-repeat: no-repeat;
  background-position: 0 0; 
}
.cd-accordion-menu .AreaSelectedName::before, .cd-accordion-menu .AreaSelectedName::after, .cd-accordion-menu a::after{
  content: "";
  display: none;
}

.cd-accordion-menu label::after {
  background-position: -16px 0;
}
.cd-accordion-menu a::after {
  left: 36px;
  background: url(/images/cd-icons.png) no-repeat -48px 0;
  background: url(/images/selectTwo.png) no-repeat -48px 0;
}

.cd-accordion-menu .treeSelect_plus{
  background-image: url(/images/selectOne.png);
}
.cd-accordion-menu .treeSelect_minas {
  background-image: url(/images/selectTwo.png);
}
.cd-accordion-menu input[type=checkbox]:checked + label::after {
  /* show open folder icon if item is checked */
  background-position: -32px 0;
}

//.cd-accordion-menu ul label{
//  margin-left: 3.75rem;
//}
//
//.cd-accordion-menu ul ul label{
//  margin-left: 5rem;
//}
//.cd-accordion-menu ul ul ul label{
//  margin-left: 6.25rem;
//}
//
//.cd-accordion-menu ul ul ul ul label{
//  margin-left: 7.5rem;
//}

.tree_select_ul{
  position:relative;
  &>.treeLeft>label{
    position: relative;
    left:20px;
  }
}

.cd-accordion-menu ul li.last{
    padding: 0.3125rem 0.625rem 0.3125rem 8.75rem;
    cursor:pointer;
}
.AreaSelectedName{
  display:inline-block;
  height: 32px;
  line-height: 32px;
  padding: 0 1rem;
}
.AreaSelectedName.active{
  background-color: #dee6f0;
}

.createFilterOut .area_select{
  height: 300px;
  overflow: auto;
}
.createFilterOut .cd-accordion-menu{
  height: auto;
}
.select_all_btn{
  width: 18px;
  height: 18px;
  display: inline-block;
  border: 1px solid #999;
  margin: 0 5px 0 0;
  position: relative;
  top: 5px;
  &.all{
    border:0;
    background: url(/images/checked.png);
  }
  &.some{
    background: #379cf8;
    border:0;
  }  
}

.select_all_btn.all{

}

@media (max-width: 1440px) {
  #areaInputBg{
    top: 8px;
  }
}

@media (max-width: 1680px) {

  .createFilterOut .area_select{
    height: 150px;
  }
}

.hide{
  display:none;
}
